<div class="header-bg">
  <div class="container-full">
    <div class="header ">
      {% include nav.html %}
      <header class="container grid-xl landing-header">
        <div class="columns pt-12 pb-8">
          <div class="column col-11 col-mx-auto text-center">
            <h1 class="mt-2 super-h1">{{ site.header }}</h1>
            <h4 class="text-secondary">{{ site.subheader }}</h4>
            <div class="subhead-paragraph">
              <ol class="subhead-list">
                Steps for submitting data
                <li class="subhead-list-item"> <a style="color:DodgerBlue" href="validate.html"> Validate data here</a></li>
                <li class="subhead-list-item"> <a style="color:DodgerBlue" href="submit.html">Submit data here</a></li>
              </ol>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>
